{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title "Gahdha System" %}
{% block page_content %}
    {% if 'rtl' == ea.i18n.textDirection %}
        <style>
            @media screen and (min-width: 1024px){
                .offset-md-2 {
                    margin-right: 16.66667% !important;
                }
            }
        </style>
    {% endif %}
    <style>
        .small-box {
            border-radius: .25rem;
            box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
            position: relative;
            display: block;
            margin-bottom: 20px;
        }
        .small-box > .inner {
            padding: 10px;
        }
        .small-box h3 {
            font-size: 38px;
            font-weight: 700;
            margin: 0 0 10px 0;
            white-space: nowrap;
            padding: 0;
            color: #FFFFFF;
        }
        .small-box p {
            font-size: 15px;
        }
        .small-box .icon {
            right: auto;
            left: 10px;
        }
        .small-box .icon {
            transition: all .3s linear;
            position: absolute;
            top: -10px;
            right: 10px;
            z-index: 0;
            font-size: 90px;
            color: rgba(0, 0, 0, .15);
        }
        .small-box:hover .icon {
            font-size: 95px;
        }
        .small-box > .small-box-footer {
            position: relative;
            text-align: center;
            padding: 3px 0;
            color: #fff;
            color: rgba(255, 255, 255, .8);
            display: block;
            z-index: 10;
            background: rgba(0, 0, 0, .1);
            text-decoration: none;
        }
    </style>
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    {% if 'rtl' == ea.i18n.textDirection %}
                        <div class="inner text-left text-white">
                    {% else %}
                        <div class="inner text-right text-white">
                    {% endif %}
                        <h3>{{ todayEarnings }}</h3>
                        <p>ارباح اليوم</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money-bill-alt"></i>
                    </div>
                    <a href="#" class="small-box-footer">read
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    {% if 'rtl' == ea.i18n.textDirection %}
                    <div class="inner text-left text-white">
                        {% else %}
                        <div class="inner text-right text-white">
                            {% endif %}
                        <h3>{{ monthEarnings }}</h3>
                        <p>ارباح الشهر</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">read
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    {% if 'rtl' == ea.i18n.textDirection %}
                    <div class="inner text-left text-white">
                        {% else %}
                        <div class="inner text-right text-white">
                            {% endif %}
                        <h3>{{ totalDrivers }}</h3>
                        <p>سائقين</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-car"></i>
                    </div>
                    <a href="#" class="small-box-footer">read
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    {% if 'rtl' == ea.i18n.textDirection %}
                    <div class="inner text-left text-white">
                        {% else %}
                        <div class="inner text-right text-white">
                            {% endif %}
                        <h3>{{ totalClients }}</h3>
                        <p>عملاء</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">read
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xs-12 offset-xs-0 col-sm-12 offset-sm-0 col-md-8 offset-md-2">
                {{ render_chart(chart30days) }}
            </div>
        </div>
    <div class="row">
        <div class="col-10 offset-1">
            <h3>آخر الطلبات</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>السعر</th>
                    <th>سعر الشحن</th>
                    <th>الحالة</th>
                    <th>العميل</th>
                    <th>السائق</th>
                    <th>تاريخ الانشاء</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.deliveryPrice }}</td>
                        {% if order.status == 1 %}
                            <td>في الانتظار</td>
                        {% elseif order.status == 2 %}
                            <td>قيد التنفيذ</td>
                        {% else %}
                            <td>اكتمل</td>
                        {% endif %}
                        <td>{{ order.owner.name }}</td>
                        {% if order.driver != null %}
                            <td>{{ order.driver.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ order.createdAt | date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}